:root {
  --body: #0079bf;
  --coluna: #ebecf0;
  --post-it: #ffffff;
  --texto-body: #172b4d;
  --tag-vermelho: #eb5a46;
  --tag-verde: #61bd4f;
  --tag-azul: #0079bf;
  --tag-amarelo: #f2d600;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: aptos, Adobe Garamond Pro, tahoma, helvetica, Arial, sans-serif;
  background-color: var(--body);
  color: var(--texto-body);
  height: 100vh;
  display: flex;
  flex-direction: column;
}
